@tailwind base;
@tailwind components;

@layer base {
  @font-face {
    font-family: 'Roboto Mono';
    src: url('./fonts/RobotoMono-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  html {
    background-color: #0f0f0f;
  }

  body {
    min-width: 300px;
    height: 200px;
  }

  .monospaced {
    font-family: 'Roboto Mono', monospace;
  }

  input[type=range] {
    -webkit-appearance: none;
  }
  
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background-color: #eaeaea;
    border-radius: 50%;
    border: none;
  }
  
  input[type=range]:focus::-webkit-slider-thumb {
    outline: none;
  }

  .toggle-checkbox:checked ~ .toggle-switch {
    background-color: #a372d0;
  }
  .toggle-checkbox:not(:checked) ~ .toggle-switch {
    background-color: #4c474e;
    }

  .toggle-checkbox:checked ~ .toggle-dot {
    transform: translateX(100%);
  }

  .toggle-dot {
    transform: translateX(0);
    transition: all 0.3s ease-in-out;
  }
}

@layer components {}

@tailwind utilities;